  
{% extends 'base.html' %}

{% block content %}

<div class="container panel panel-default " style="padding-left: 25%; padding-right: 25%; color: grey" >

  <h3>Sign up</h3><br><br>
  <form method="post">
    {% csrf_token %}


         <div class="form-group" style="">
          <input required style=""   type="text" class="form-control" name="username" placeholder="username" maxlength="25" minlength="4">
        </div>

        <div class="form-group" style="">
          <input required  type="password" class="form-control" name="password" placeholder="password" minlength='5'>
        </div>
  
    <button class="btn btn-default" type="submit">Sign up</button>
  </form>

  </div>

  {% endblock %}