
{% extends 'base.html' %}

{% block content %}

<div class="container panel panel-default" style="padding-left: 25%; padding-right: 25%; padding-top: 15; padding-bottom: 50">

<h3 style="color: grey"> Submit your post here </h3><br>

<form action="/submit/" method="post"  >
      {% csrf_token %}
        <div class="form-group" style="">
          <input required style=""   type="text" class="form-control" name="title" placeholder="Title">
        </div>



         <div class="form-group" style="">
          <input required  type="url" class="form-control" name="url" placeholder="url">
        </div>


        

       <button class="btn btn-default" type="submit" >Submit</button>


</form>

</div>



{% endblock %}